{{ template "header" . }}
<h1>ユーザーネームの変更とパスワードの変更</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font></p>
{{ end }}
<form action="/user/change" method="POST">
    <label>ユーザー名          : </label> <input type="text" name="old_username" value="{{ .Username }}" required><br>
    <label>現在のパスワード     :</label> <input type="password" name="old_password" required><br>
    <label>新しいユーザー名     : </label><input type="text" name="new_username", value="{{ .Username }}"><br>
    <label>新しいパスワード     : </label> <input type="password" name="new_password" required><br>
    <label>新しいパスワード(確認): </label> <input type="password" name="new_password_confirm"  required><br>
    <input type="submit" value="変更">
</form>
<br>
<a href="/list"><button type="button">リストへ戻る</button></a>
{{ template "footer" }}
