{{ template "header" . }}
<h1>ユーザー登録</h1>
{{ if .Error }}
<p><font color="#FF0000">{{ .Error }}</font></p>
{{ end }}
<form action="/user/new" method="POST">
    <label>ユーザー名: </label> <input type="text" name="username" value="{{ .Username }}" required><br>
    <label>パスワード: </label> <input type="password" name="password" value="{{ .Password }}" required><br>
    <label>パスワード(確認): </label> <input type="password" name="password_confirm" value="{{ .Password_Confirm}}" required><br>
    <input type="submit" value="登録">
</form>
{{ template "footer" }}