<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/assets/task_list.css" />
  </head>

  <body>
    {{ template "header" . }}
    <h1>List of tasks</h1>
    <p><a href="/task/new"> 新規登録</a></p>
    {{ if not .Tasks }}
    <p>登録データがありません．</p>
    {{ else }}
    <table>
      <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>登録日</th>
        <th>状態</th>
      </tr>
      {{ range $task := .Tasks }}
      <tr>
        <td><a href="/task/{{ $task.ID }}">{{ $task.ID }}</a></td>
        <td>{{ $task.Title }}</td>
        <td>{{ $task.CreatedAt }}</td>
        <td>{{ if $task.IsDone }}済{{ end }}</td>
      </tr>
      {{ end }}
    </table>

    {{ end }}
    <br />
    <a href="/"><button type="button">トップへ戻る</button></a>

    {{ template "footer" }}
  </body>
</html>
